/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*  font-family: "Noto Sans KR", sans-serif;  -*/

/* ------↓ Color Control Here ↓----------https://colorpalettes.net/-------*/
:root {
  --color1:#1E1E1D;   /*---Color Palette #4584*----*/
  --color2:#685F59;
  --color3:#41565B;
  --color4:#778B8F;
  --color5:#D8CAC1;
  --text-color-b:rgba(40, 40, 40, 0.8);
  --text-color-d:#fefefe;
  --accent-color:rgba(58, 26, 26, 0.82);
  --bg-color-trans:#ffffff80;
  --shadow-color:rgba(0, 0, 0, 0.15);

  --tableborder: 0.03em solid black;
}
/* -------↑---------------↑--------------------------------*/



/*--======↓               ↓==============================--*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-size: 16px;
  min-height: 100vh;
  background: var(--color5);
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}

body > header {
  height: 3.5rem;
  grid-area: header;
}

body > main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: center;
  grid-area: main;
  overflow: auto;
} 


body > footer {
  position: sticky;
  bottom: 0;
  background: var(--color1);
  padding: 0.3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  clear: both;
  align-items: center;
  grid-area: footer;
}

.footer-text {
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  transition: all 0.5;
}
/* -------↑---------------↑--------------------------------*/



/*--======↓  기타 컨텐츠  ↓==============================--*/

h1 {
  font-size: 1.2rem;
  margin-top: 1em;
}

h2 {
  font-size: 1.2rem;
}

a {
  vertical-align:middle;
}

/* 계산식 값 ------*/
mn {
  font-family: "Cambria Math";
}

/*------------↑--------------↑---------------------------*/



/*--======↓  MAI 컨텐츠  ↓==============================--*/

.box_title {
  display: block;
  color: var(--text-color-b);
  border-bottom: 2px solid var(--color1);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align:center;
}

.box1 {
  width: 500px;
  overflow:auto;
  resize: horizontal;
  background: var(--color4);
  border-radius: 0.6rem ;
  box-shadow: 0.2rem 0.2rem 1.2rem 0.4rem var(--shadow-color);
  margin: 0.6rem;
  padding: 0.6rem;
  color:var(--text-color-b);
}
.box2 {   /*---A4 size in pixel: 	2480px x 3508px --*/
  width: calc(2480px/3.4);
  overflow: auto;
  resize: both;
  background: var(--color4);
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.2rem 1.2rem 0.4rem var(--shadow-color);
  margin: 0.6rem;
  padding: 0.6rem;
  color:var(--text-color-b);
  opacity:0 ;
  transition: all, 0.5s ease-in;
}




.box2 > img {
  width: 100%;
}







/*------↓ OUTPUT TABLE ↓-------------------------------------*/
.table1 {    /*---A4 size in pixel: 	2480px x 3508px --*/
  width:100%;
  aspect-ratio: 1 / 1.38;
  background-color: var(--text-color-d);
  display: grid;
  grid-template-columns:  1fr 5fr;
  grid-template-rows: 0.8fr 0.8fr repeat(21, 1fr);
  border: var(--tableborder);
  text-align: center;
  
}
.table1 .item1 {
  grid-area: 1 / 1 / 2 / 3;
  border: var(--tableborder);
  text-align: left;
  display: flex;
  align-items: center;
}
.table1 .item2 {
  grid-area: 2 / 1 / 3 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item2-1 {
  grid-area: 2 / 2 / 3 / 3;
  border: var(--tableborder);
  text-align: left;
  display: flex;
  align-items: center;
}

.table1 .item3 {
  grid-area: 3 / 1 / 12 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item3-0 {
  grid-area: 3 / 2 / 12 / 3;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
}
.table1 .item3-1 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.table1 .item3-2 {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.table1 .item3-2 .item3-2-1 {
  grid-area: 1 / 1 / 2 / 2;
  border: var(--tableborder);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.0em;
}
.table1 .item3-2 .item3-2-2 {
  grid-area: 1 / 2 / 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr 1fr;
}

.table1 .item3-3 {
  grid-area: 5 / 1 / 7 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
}



.table1 .item3-4 {
  grid-area: 7 / 1 / 9 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;

}
.table1 .item3-5 {
  grid-area: 9 / 1 / 14 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.table1 .item3-5 .item3-5-2{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.table1 .item3-5 .item3-5-2 .item span{
 text-align: left;
}

.con_rate {
  background-image:url('../images/eq_plan.png');
  background-size : contain; 
  position: relative;
  font-size:1em;
  border: var(--tableborder);
}
#dis1 {
  position: absolute;
  bottom: 48%;
  left: 5%;
  transform: rotate( -90deg );
  font-size: 0.8em;
}
#dis2 {
  position: absolute;
  top: 0%;
  left: 37%;
  font-size: 0.8em;
}
#dis3 {
  position: absolute;
  top: 25%;
  right: 20%;
  transform: rotate( -90deg );
  font-size: 0.8em;
}
#dis4 {
  position: absolute;
  top: 56%;
  right: 20%;
  transform: rotate( -90deg );
  font-size: 0.8em;
}
#pic {
  position: absolute;
  bottom: 5%;
  left: 30%;
}





.table1 .item4 {
  grid-area: 12 / 1 / 14 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item4-1 {
  grid-area: 12 / 2 / 14 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr 1fr;
}


.table1 .item5 {
  grid-area: 14 / 1 / 19 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item5-1 {
  grid-area: 14 / 2 / 18 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;

}
.table1 .item5-1 .item{
  text-align: left;
  display: flex;
  justify-content:flex-start;
}
.table1 .item5-2 {
  grid-area: 18 / 2 / 19 / 3;
  text-align: left;
  display: grid;
}
.table1 .item5-2 .item{
  justify-content: flex-start;
  text-align: left;
  }



.table1 .item6 {
  grid-area: 19 / 1 / 21 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item6-1 {
  grid-area: 19 / 2 / 21 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.table1 .item6-1 .item{
  justify-content: flex-start;
  }

.table1 .item7 {
  grid-area: 21 / 1 / 22 / 2;
  border: var(--tableborder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 .item7-1 {
  grid-area: 21 / 2 / 22 / 3;
  display: grid;
  align-items: left;
}
.table1 .item7-1 .item {
justify-content: flex-start;
}

.table1 .item8 {
  grid-area: 22 / 1 / 24 / 3;
  display: grid;
}
.table1 .item8 .item{
  text-align: left;
  justify-content: flex-start;
}


.item {
  border: var(--tableborder);
  padding: 0 0.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}



.item_nopad {
  border: var(--tableborder);
  padding: 0 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.itemEq {
  border: var(--tableborder);
  padding: 0 0.5rem;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}






/*----------↑--------------↑-----------------------------*/









/*--------------↓ 인풋값 박스안 Container ↓------------------------*/

.container1 {
  background: var(--bg-color-trans);
  box-shadow: 0 0 1em 0 var(--shadow-color);
  border-radius: 0.4rem;
  margin: 0.3rem 0;
  padding: 0.6em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container2 {
  width:100%;
  margin: 0.2rem 0.4rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap: wrap;
}
.container3 {
  align-items:flex-start;
  margin: 0.2em 0.4em;
  display:flex;
  justify-content:space-between;
}
.container4 {
  margin: 0.2em 0.4em;
  display:flex;
  flex-direction: column;
}

/*----↓ SHOW/HIDE Input Memu ↓------------------*/
.container-hide {
  display: grid;
  width: 100%;
  grid-template-rows: 0fr 0fr 0fr;
  transition: grid-template-rows 0.6s ease-out;
}
.container-hide .container2 {
  overflow: hidden;
  width:auto;
}
.expand {
  grid-template-rows: 1fr 1fr 1fr;
}
/*----↑ SHOW/HIDE Input Memu ↑------------------*/

/*--------------↑ 인풋값 박스안 Container ↑------------------------*/

/*--------------↓ 인풋값 Container 안 컨텐츠 ↓---------------------*/
.content1 {
  width:240px;
  padding: 0.5rem 0 0.5rem 0;
  display:flex;
  align-items: center;
}
.content2 {
  width:220px;
  padding: 0.5rem 0 0.5rem 0;
  display:flex;
  align-items:center;
}
.content3 {
  width:220px;
  padding: 0.5rem 0 0.5rem 0;
  display:flex;
  align-items: center;
}


.var1 {
  flex-shrink:0;
  width: 110px;
  height: 1.4em;
  color: var(--text-color-b);
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow:clip;
  text-align:justify;
}
.var1.bold {
  font-weight: 600;
}
.var2 {
  flex-shrink:0;
  width: 50px;
  height: 1.4em;
  color: var(--text-color-b);
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow:clip;
  text-align:justify;
}

.inputValue {
  flex-grow:1;
}
.inputValue input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.1em;
  border-bottom: 0.1em solid var(--color2);
  text-align: center;
  font-size: 16px;
}








/*-------↓ Calculate BUtton ↓---------------------*/
button.calculate {
  cursor: pointer;
  color: var(--text-color-d);
  background: var(--color1);
  box-shadow: 0 0 1em 0 var(--shadow-color);
  border-radius: 0.4em;
  padding: 0.6em;
  margin-bottom: 0.5em;
  width: 100%;
  outline: none;
  border: none;
  transition: all 0.5s;
  font-size: 16px;

}
button.calculate:hover {
  background: var(--color2);
}
/*--------↑ Calculate BUtton ↑----------------------*/




/*---↓ dropdown 선택 ↓---------------------------------- */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  box-shadow: 0 0 1em 0 var(--shadow-color);
  width:60%;
    border-radius: 5px;
  border-bottom: 0.1em solid var(--color2);
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: var(--color3);;
  border-radius: 5px;
  font-size: 1em;

}
.select-selected:hover {
  background-color: var(--color2);;
  transition: all 0.5s;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 0.9em;
  right: 0.8em;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-selected:focus{
  border: 0.6em solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid var(red);
  border-radius: 10px;
  background-color: var(--color5);
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: var(--text-color-d);
  padding: 4px 12px;
  border: 0.06rem solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
}

/*목록을 확장했을 시 style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--color4);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  font-size: 1em;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: var(--color3);
  transition: all 0.5s;
}

.same-as-selected {
  background-color: var(--color2);

}
/*---↑------------------↑----------------------------------------*/


/*--↓ Radio (check box) ↓----------------------------------*/
.choices {
  flex-grow:1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: var(--bg-color-trans);
  box-shadow: 0px 0px 95px -30px var(--shadow-color);
  border-radius: 0.6em;
  border-bottom: 0.15em solid var(--color2);
  padding: 10px 0;
}
.choices .container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:var(--text-color-b);
}
/* Hide the browser's default radio button */
.choices .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 14%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color4);
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.choices .container:hover input~.checkmark {
  background-color: var(--color5);
}
/* When the radio button is checked, add a blue background */
.choices .container input:checked~.checkmark {
  background-color: var(--color1);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.choices .container input:checked~.checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.choices .container .checkmark:after {
  top: 36%;
  left: 36%;
  width: 32%;
  height: 32%;
  border-radius: 50%;
  background: var(--color4);
}

/*------↑ Radio (check box) ↑ -----------------------------------*/


/*----- ↓ 입력값 오류 시 경고문 ↓ ---------------------*/
/* The Modal (background) */
.modal {
  display: none;  /* Hidden by default */
  position: fixed;   /* Stay in place */
  z-index: 1;   /* Sit on top */
  padding-top: 100px;   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;  
  height: 100%;
  overflow: auto;   /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 300px;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0.06rem solid #888;
  width: 500px;
  border-radius: 10px;
  box-shadow: var(--color1) -0.06rem 2px 2px 0.06rem;
}
#modalText {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 18px;
  color: var(--color1);
}
.modal-wrong {
  border: 2px solid red;
}
.modal-correct {
  border: 2px solid green;
}
/* The Close Button */
.close {
  color: var(--color1);
  float: right;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.close:hover {
  color: #d41111;
}
/*----- ↑ 입력값 오류 시 경고문 ↑ ---------------------*/




/*-----↓ print screen ↓------------------------------*/

.printtb {
  width: 100%;
  display: flex;
  justify-content: center;
  border:#1E1E1D;
  border-radius: 0.5em;
  cursor: pointer;
  color: var(--text-color-d);
  background: var(--color1);
  box-shadow: 0 0 1em 0 var(--shadow-color);
  border-radius: 0.4em;
  padding: 0.3em;
  outline: none;
  border: none;
  transition: all, 0.5s;
  font-size: 16px;
  margin: 0 0.3em;
}
.printtb:hover {
  background: var(--color2);
}


/*-----↑ print screen ↑ ------------------------------*/









/*----------------↓ MOBILE MODE ↓--------------------*/

@media (max-width: 500px) {
  body > header{
    height: 2.5em;
  }

  
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    padding:2% 2%;
  }

  .container2 {
    gap:0.3rem;
  }
  .box_title{
    font-size: 6vw;
  }
  h1 {
    font-size: 16px;
  }



  .box1, .box2 {
    width: 96%;  
    margin-left:2%;
    margin-right:2%;
    resize: none;
    overflow: visible;
  }

  .result p {
    font-size: 5vw;
  }

  .custom-select {
    width:100%;
    font-size: 16px;
  }


  .choices {
    width:100%;
    padding:2% 2%;
  }
  .choices .container {
    padding:0 0 0 25px;
  }
  .choices .container p {
    font-size: 16px;
  }

  
  .checkmark {
    height: 16px;
    width: 16px;
    
  }

  .var1, .var2,
  input {
    font-size: 16px;
  }

  .container3 {
    flex-direction:column;
    align-items: stretch;
    justify-content: space-around;
  }

  .container4,
  .container5 {
    width: 100%;
  }

  .content1, 
  .content2,
  .content3 {
    width:100%;
  }
  .content1 div, 
  .content2 div,
  .content3 div {
    font-size: 1em;
  }


  .modal-content {
    width:80%;
  }
  
  .table1 span, math, .con_rate{
    font-size: 2vw;
  }




}


/*----------------↑ MOBILE MODE ↑ -------------------*/
